{% load static %}
<ul>
    {% if request.user.is_authenticated %}
        <li>
            Hi, {{request.user.username}}
        <li>
            <a href="{% url 'logout' %}"> Logout </a>
        </li>
        </li>
    {% else %}
        <li>
            <a href="{% url 'login' %}"> Login </a>
        </li>
        <li>
            <a href="{% url 'signup' %}"> Signup</a>
        </li>
    {% endif %}
</ul>

<div>
    <!-- make_post has been defined as a name for create post in urls.py-->
    <a href="{% url 'make_post' %}">Make Post</a>
</div>


<div>
    <!--why objects_list? this file usage must be from views.py, and listview will return objects_list-->
    {% for post in object_list %}

        <!--post.id will be passed as parameter to post_detail url-->
        <a href="{% url 'post_detail' post.id %}"> <!--post_detail is the name in urls.py-->

            <!--  /this means add src address directly after local host address, instead of insta/posts/img src-->
            <img src="/{{post.image}}">    <!--in models.py, in post, get image field-->
        </a>
    {% endfor %}
</div>


